/* Base Application Styles */
/*翻转箭头的引入*/
@font-face{
  font-family: "icons-turn-arrow";
  src:url('../fonts/icons/turn-arrow.eot')format('enbedded-opentype'),
  url('../fonts/icons/turn-arrow.woff')format('woff'),
  url('../fonts/icons/turn-arrow.svg')format('svg'),
  url('../fonts/icons/turn-arrow.ttf')format('truetype');
}
html,body {
  color: #fff;
  background-color: #222;
  width: 100%;
  height: 100%;
}
.content{
  width: 100%;
  height: 100%;
}
.stage{
  width: 100%;
  height: 880px;
  position: relative;
}

/*图片区域start*/
.img-sec{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ddd;
}
.img-figure{
  position: absolute;
  text-align: center;
  width:260px;
  height: 480px;
  margin: 0;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  cursor:pointer;
  transform-style: preserve-3d;
  perspective: 600px;
  transform-origin: 0 50% 0;
  transition: transform 0.6s ease-in-out,left 0.6s ease-in-out,top 0.6s ease-in-out;
}
.img-figure figcaption{
  text-align: center;
}
.img-back{
  position: absolute;
  /* 相对于img-sec进行定位 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 50px 40px;
  overflow: auto;
  color: #666;
  background: #fff;
  transform: rotateY(180deg) translateZ(1px);
}
.img-figure.is-inverse {
  transform: translate(260px) rotateY(180deg);
}
.img-title{
  margin: 10px 0 0 0;
  color: #a7a0a2;
  font-size: 20px;
}

/*控制组件start*/
.controller-nav{
  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: 101;
  width: 100%;
  text-align: center;
}
.controller-unit{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;

  text-align: center;
  cursor: pointer;
  background: #aaa;
  border-radius: 50%;
  transform: scale(0.5);
  vertical-align: middle;
  transition: transform 0.6s ease-in-out background 0.3s;
}
.controller-unit.is-center {
  transform: scale(1);
  background-color: #888;
}
.controller-unit.is-center::after{
  font-family: 'icons-turn-arrow';
  font-size: 80%;
  line-height: 30px;
  color: #fff;
  content: '\e600';
   -webkit-font-smoothing: antialiased;
  /* 开启chrome在Mac下字体渲染的灰阶平滑 */
  -moz-osx-font-smoothing: grayscale;
  /* 开启firefox在Mac下字体渲染的灰阶平滑 */
}
.controller-unit.is-center.is-inverse {
  background-color: #555;
  transform: rotateY(180deg);
  /* 翻转180度 */
}

/*响应式布局*/
@media only screen and (min-width:1800px){
.click-me{
  display: none;
  cursor: pointer;
}
.click-us{
  display: none;
  cursor: pointer;
}
}
@media only screen and (min-width: 700px) and (max-width:1800px){
  .click-me{
    display: none;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top:20px;
  }
  .click-us{
    display: block;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top:20px;
  }
  #app{
    display: none;
  }
}
@media only screen and (max-width:700px){
   .click-me{
    display: block;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top:20px;
  }
  .click-us{
    display: none;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top:20px;
  }
  #app{
    display: none;
  }
}
/*stage end*/



